header:
  version: 14
  includes:
    - ./kas/gig-base-dependencies.yml

distro: tegrademo

target:
  - demo-image-base

repos:
  tegra-demo-distro:
    url: https://github.com/OE4T/tegra-demo-distro
    branch: scarthgap
    path: repos/tegra-demo-distro
    layers:
      layers/meta-tegra-support:
      layers/meta-tegrademo:
      layers/meta-demo-ci:

  meta-tegra:
    path: repos/meta-tegra
    url: https://github.com/OE4T/meta-tegra.git
    branch: scarthgap

  meta-openembedded:
    path: repos/meta-openembedded
    url: https://git.openembedded.org/meta-openembedded
    branch: scarthgap
    layers:
      meta-filesystems:
      meta-networking:
      meta-python:
      meta-oe:

  meta-tegra-community:
    path: repos/meta-tegra-community
    url: https://github.com/OE4T/meta-tegra-community
    branch: scarthgap

  meta-virtualization:
    path: repos/meta-virtualization
    url: https://git.yoctoproject.org/meta-virtualization
    branch: scarthgap

  meta-gig:
    layers:
      meta-gig:

  poky:
    path: repos/poky
    url: https://git.yoctoproject.org/poky
    branch: scarthgap
    layers:
      meta:

local_conf_header:
  tegra: |
    # these two classes only work as intended when being inherited in the
    # OE4t setup-env.sh style environment, as they modify bblayers.conf
    # and expect additional information on the host.
    INHERIT:remove = "tegra-support-sanity distro_layer_buildinfo"
    PACKAGE_CLASSES += "package_deb"
    EXTRA_IMAGE_FEATURES ?= "allow-empty-password empty-root-password allow-root-login package-management"
