[Unit]
Description=Set Hostname derived from SOMs serial number
Before=network-pre.target
Wants=network-pre.target
RequiresMountsFor=/etc

[Service]
Type=oneshot
ExecStart=/usr/sbin/gigcompute-set-hostname.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
