# Include driver support for Intel 2.5GB Ethernet devices
CONFIG_IGC=y

# Enable nftables support
CONFIG_NFT_COMPAT=y
CONFIG_NFT_CT=y
CONFIG_NFT_COUNTER=y
CONFIG_NFT_NAT=y
CONFIG_NFT_MASQ=y
CONFIG_NET_REDIR=y
CONFIG_NET_REJECT=y

